@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    font-family: Menlo, Monaco, system-ui, sans-serif;
    font-feature-settings: "liga" 0 !important;
    user-select: none;
}

body {
    overflow: hidden;
    user-select: none;
    cursor: default;
}

input {
    user-select: initial;
    -webkit-user-select: initial;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

@supports not selector(::-webkit-scrollbar) {
    *,
    *::before,
    *::after {
        scrollbar-width: none;
    }
}
